<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="product-item mt-4">
                <div class="img-product">
                        <a href="/products/{{products.slug}}" class="product-link "><img src="{{products.img}}" alt=""></a>
                </div>
                
                
                
                <p class="product-discript">{{products.discript}}</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 product-wrap">
             <div class="product-price">
                    <h3 class="product-name">{{products.name}}</h3>
                <h3>Giá bán: {{products.price}} VND</h3>
                <button type="button" class="btn btn-primary mua-btn" >Mua ngay</button>
             </div>
        </div>
    </div>
</div>